# ==========================================
# DevCore Curriculum Files
# ==========================================
# Ignore the secrets file generated in Project 2: The Secret Vault
secrets.txt

# ==========================================
# Operating System Files
# ==========================================
# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ==========================================
# Editor & IDE Files
# ==========================================
# VS Code
.vscode/

# JetBrains / IntelliJ
.idea/

# ==========================================
# Python (Just in case students run it locally)
# ==========================================
__pycache__/
*.py[cod]
*$py.class